recursive-install = true

# Hoist shared dependencies to the root node_modules folder
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=*mdx*

# Allows us to refer to workspace packages using only their version
# and not need to include `workspace:` as a version constraint.
link-workspace-packages = true
hoist-workspace-packages = true
