[graph]
all-features = true

[output]
feature-depth = 2

# https://embarkstudios.github.io/cargo-deny/checks/advisories/cfg.html
[advisories]
db-path = "~/.local/share/cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]

yanked = "deny"
ignore = []

[bans]
multiple-versions = "warn"
wildcards = "deny"
allow-wildcard-paths = true
highlight = "all"

deny = []

[licenses]
confidence-threshold = 0.95

allow = []


[licenses.private]
ignore = true
registries = []

# https://embarkstudios.github.io/cargo-deny/checks/sources/cfg.html
[sources]
unknown-registry = "deny"
unknown-git = "deny"

allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []

[sources.allow-org]
github = []
